[Unit]
Description=Chmou PHOTOS service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/www/photos/
ExecStart=/usr/local/bin/chmouphoto
Restart=always
Environment="PHOTOS_HOST=192.168.0.3"

[Install]
WantedBy=multi-user.target

