<header class="header u-sizeFullWidth u-fontSizeSmaller u-bgheader u-flexCenter">
  <div class="header-wrap u-flexCenter container u-flex1">
    <div class="header-left u-flex0">
      <a href="/"
         class="header-logo u-block u-lineHeight1 godo-tracking"
         data-event-category="Header"
         data-event-action="Logo"
         data-event-label="Click"
         data-event-non-interaction="true">
        <span class="u-fontSize28 u-fontWeightBold">{{ .Site.Title }}</span>
      </a>
    </div>

    <nav class="header-center u-relative mainMenu u-overflowHidden u-flex u-flex1 u-paddingRight20 u-flexCenter u-hide-before-lg u-menu-color">
    </nav>

    <div class="header-right u-flex0 u-flex u-flexEnd u-menu-color">
      <div class="js-social-media u-flex">
        <a data-event-category="Header" data-event-action="Social"
           data-event-label="Twitter" data-event-non-interaction="true" title="Twitter @chmouel"
           aria-label="Twitter @chmouel" href="https://twitter.com/chmouel" target="_blank"
           rel="noopener noreferrer">
          <svg class="icon icon--twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </div>

      <div class="header-right u-flexCenter">
        <a href="https://github.com/chmouel" class="js-dark-mode hla header-dark-mode" aria-label="Github @chmouel">
          <svg class="icon icon--github">
          </svg>
          <svg class="icon icon--github">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>          
      </div>

      <div class="header-right u-flexCenter">
        <a href="https://blog.chmouel.com" class="js-dark-mode hla header-dark-mode" aria-label="Blog @chmouel.com">
          <svg class="icon icon--blog">
            <use xlink:href="#icon-blog"></use>
          </svg>
          <svg class="icon icon--github">
            <use xlink:href="#icon-programmer"></use>
          </svg>
        </a>          
      </div>
      
    </div>    
  </div>
</header>


